
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

html{
  font-family: "Roboto", sans-serif;
  overflow-y: scroll;
}
body{
    background: linear-gradient(to right, #000000, #414142);
}
#codigoAutomacao{

    padding-bottom: 20px;
    border: 5px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    min-height: 100px;
    width: 800px;
    


}
.line{
    margin: 5px;
}
input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

button{
    padding: 8px 16px;
    background-color: #20552b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #2a4127;
}
#divHeader{
    background-color: red;

}
#status{
    width: 70px;
    height: 70px;
    right: 0;
    position: absolute;
    background-color: rgba(200, 255, 0, 0.679);
    border-radius: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
#listaDeTestes{
    background: linear-gradient(to right, #414142, #414142);
    padding-bottom: 20px;
    padding-top: 7px;
    margin-top: 80px;
    border-radius: 15px;
    padding-left: 10px;
    margin: 5ppx;
    

}

.testItem{
    display: flex;
    margin-top: 10px;

    
}
.infoItemDiv input{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid rgb(238, 5, 5);
    background-color: #ff0000;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: absolute;
    right:0;
    top:0;
    margin: 5px;
  }
  .infoItemDiv input:checked{
    background-color: #55ff00;
    border-color: #1eff00;
  }
  .infoItemDiv{
    background-color: rgb(240, 227, 227, 0.2);
    width: 60%;
    height: auto;
    position: relative;
    padding-bottom: 10px;
    padding-left: 5px;
    border-radius: 10px;
    margin-left: 5px;
  }
.divNewBug{
    width: 200px;
    
}
  .deleteTest{
      position: absolute;
      left:88%;
      bottom: 0;
      margin: 5px;  
      background-color: #ff4d4d;
      color: #fff;
  }
  .deleteTest:hover{
    background-color: #cc0000;
  }
.executar{
    position: absolute;
    left: 75%;
    bottom: 0%;
    margin: 5px;  
}
.testItem label{
    white-space: pre-wrap;
    color: rgb(0, 255, 0);
    background-color: rgba(0, 0, 0, 1.0);
    display: flex;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(79, 78, 78, 0.8);
    
   

}
.testItem h3{
    border-bottom: 1px solid black;
    font-size: 30px;
    font-weight: bold;
   
}
#divBugs{
    background-color: #fff;
   
    
    border-radius: 10px;
    overflow-y: scroll;
    width: 500px;
    height: 300px;
    max-height: 300px;
    margin-top: 10px;
}
#bugList {
    padding: 10px;
    position: relative;
}
.bugItem {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
}
.bugItem p {
    margin: 0;
    font-size: 16px;
    color: #333;
    
}
.bugItem button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    left: 80%;
    position: absolute;
}
.bugItem button:hover {
    background-color: #cc0000;
}

#isMobile{
    color:#fff;
    margin-left: 20px;
    background-color: #20552b;
    padding: 6px;
    border-radius: 10px;
}
select{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    margin: 5px;
}