<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="{{ url_for('static', filename='styleNewAutomacao.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    </head>
    <body>

        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <div id="divHeader">
            <div id="status">status</div>
        </div>
       <input type="text" placeholder="nome da automacao" id="automationName">
       <button id="add" onclick="adicionar('{{elementName}}','{{elementType}}')">adicionar</button>
       <label for="input" id="isMobile">Teste Mobile</label>
       <input type="checkbox" id="isTestMobile">
       <div id="codigoAutomacao">
           <div class="line" index="0">
            <input type="text" class="linhaCodigo" index="0">
            <button class="addLine" index="0" onclick="addLine({'plataforma':'web'})">add</button>
           </div>   

       </div>
       <input type="text" id="newBugInput"/>
       <button onclick="(addBug())">adicionar</button>
       <div id="divBugs">
            <div id="bugList">

            </div>
       </div>
       <div id="listaDeTestes">

       </div>

       
       <div id="infos" elementName='{{elementName}}' elementType='{{elementType}}'></div>


       <script src="{{ url_for('static', filename='addNewAutomation/elementController.js') }}"></script>
       <script src="{{ url_for('static', filename='addNewAutomation/apiNewAutomation.js') }}"></script>
 
       <script>
        getAutomationTests(setTestList)
        getTestStatus(setStatusElement)
        getBugs(setBugList)

        document.getElementById('isTestMobile').addEventListener('click',function(){

            setAutomationCode(this.checked)
        })

    </script>
    </body>
</html>