<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Aumento da escala para 1.5 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
        <script src="https://kit.fontawesome.com/de6dc0a744.js" crossorigin="anonymous"></script>
        
        
    </head>
    <body>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='criaElementos.js') }}"></script>
        <script src="{{ url_for('static', filename='elementoController.js') }}"></script>
        <script src="{{ url_for('static', filename='api.js') }}"></script>
        <script src="{{ url_for('static', filename='createCard.js') }}"></script>
        
        <script>
            document.addEventListener('DOMContentLoaded', function(){
            
                getLines(createLine)
                getElementos(createElement)
                

            })

            function clickElement(name){
                getInformations(createCard,name)
            }
            function clickLine(name){
                getLineInformations(createCard,name)
            }
            function executa(){
                
            }

            
        </script>
        <button id="relatorio">RELATORIO</button>
    
    <button onclick="checkTagExists(setFilter)" id="tagFilterApply">Selecionar Filtro</button>
       <select id="tagFilter" name="opcoes">
        {% for i in tags%}
        <option value={{i}}>{{i}}</option>
        {% endfor %}
      </select>
      <button onclick="setTesteAleatorio()">automatico</button>

        <div id="canvas-container">
            
            
            
            <svg id="campo" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                <g id="grupo-img"></g>
                <g id="grupo-linha"></g>
                <g id="grupo-circulos"></g>
   
                  
                  
          </svg>
        </div>
      
                <div class="sidebar" id="card">
                    <button id="closeCard" onclick="closeCard()">X</button>
                    <h1></h1>
                    <input type="text" placeholder="paginas" id="searchPages" data="{{notionPages}}">
                    <div id="pageResults">
                        <div class="pageItem">
    
                        </div>

                    </div>
                    <p id="sidebarDescription"></p>
                    
                    <div id="tags">
                        <div class="tagHeader">
                            <input type="text" placeholder="tagName" id="newTagName">
                            <button id="addNewTag" onclick="addNewTag()">adicionar</button>
                        </div>
                    </div>
                    <button id="executarCard">Executar testes</button>
                    <button id="addNewAutomation" onclick="addNewAutomation()">Testes/automaçoes</button>
                    <div id="todoTestes">

                    </div>
                </div>


                <script src="{{ url_for('static', filename='screenConfig.js') }}"></script>
                <script>
                    var svg = document.getElementById("campo");
                    
                    svg.addEventListener("contextmenu", function(event) {
                        event.preventDefault()
                      var rect = svg.getBoundingClientRect(); // Obtém o retângulo delimitador do SVG
                      var x = event.clientX; // Coordenada X do clique
                      var y = event.clientY; // Coordenada Y do clique
                      
                      // Obtém as dimensões e a posição do viewBox
                      var viewBox = svg.getAttribute("viewBox").split(" ").map(parseFloat);
                      var viewBoxX = viewBox[0];
                      var viewBoxY = viewBox[1];
                      var viewBoxWidth = viewBox[2];
                      var viewBoxHeight = viewBox[3];
                      
                      // Calcula as coordenadas dentro do viewBox
                      var viewBoxClickX = (x - rect.left) / rect.width * viewBoxWidth + viewBoxX;
                      var viewBoxClickY = (y - rect.top) / rect.height * viewBoxHeight + viewBoxY;
                      
                      var inputTexto = document.createElement("input");
                        inputTexto.type = "text";
                        inputTexto.style.position = "absolute";
                        inputTexto.style.left = viewBoxClickX + "px";
                        inputTexto.style.top = viewBoxClickY + "px";
                        
                        // Adicionar o input de texto ao body
                        document.body.appendChild(inputTexto);

                        inputTexto.addEventListener("keydown",function(event){
                            if(event.key == "Enter"){
                                auxCriaElemento([viewBoxClickX,viewBoxClickY],inputTexto.value)
                            }
                        })
                        
                                                
                        inputTexto.focus();

                    });
                    document.getElementById('relatorio').addEventListener('click',function(){
                        window.location.href = '/relatorio'
                    })
                    document.getElementById('searchPages').addEventListener('input',function(){
                        updatePagesSugestions()
                    })
                    //setTesteAleatorio()
                    //<button onclick="executaTesteAleatorio()">automatico</button>
                    var notionPages = {{ notionPages | tojson }};
                    var pagesSelected = {}
  
                   
                    </script>
        
    </body>
</html>