<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Aumento da escala para 1.5 -->
        
        
    </head>
    <body>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='criaElementos.js') }}"></script>
        <script src="{{ url_for('static', filename='elementoController.js') }}"></script>
        <script src="{{ url_for('static', filename='api.js') }}"></script>
        <script src="{{ url_for('static', filename='createCard.js') }}"></script>
        
        <script>
            document.addEventListener('DOMContentLoaded', function(){
            
                //getLines(createLine)
                getElementos(createElement)

            })

            function clickElement(name){
                getInformations(createCard,name)
            }
            function clickLine(name){
                getLineInformations(createCard,name)
            }
            function executa(){
                executar()
            }
        
        </script>

        <div id="canvas-container">
            

                
            <svg id="campo" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
            
          </svg>
        </div>
      
                <div class="sidebar" id="card">
                    <h1></h1>
                    <p></p>
                    <button>Ececutar</button>
                    <div id="tags">
                        <div class="tagHeader">
                            <input type="text" placeholder="tagName" id="newTagName">
                            <button id="addNewTag" onclick="addNewTag()">adicionar</button>
                        </div>
                    </div>
                </div>


                <script src="{{ url_for('static', filename='screenConfig.js') }}"></script>
                <script>
                    var svg = document.getElementById("campo");
                    
                    svg.addEventListener("contextmenu", function(event) {
                        event.preventDefault()
                      var rect = svg.getBoundingClientRect(); // Obtém o retângulo delimitador do SVG
                      var x = event.clientX; // Coordenada X do clique
                      var y = event.clientY; // Coordenada Y do clique
                      
                      // Obtém as dimensões e a posição do viewBox
                      var viewBox = svg.getAttribute("viewBox").split(" ").map(parseFloat);
                      var viewBoxX = viewBox[0];
                      var viewBoxY = viewBox[1];
                      var viewBoxWidth = viewBox[2];
                      var viewBoxHeight = viewBox[3];
                      
                      // Calcula as coordenadas dentro do viewBox
                      var viewBoxClickX = (x - rect.left) / rect.width * viewBoxWidth + viewBoxX;
                      var viewBoxClickY = (y - rect.top) / rect.height * viewBoxHeight + viewBoxY;
                      
                      var inputTexto = document.createElement("input");
                        inputTexto.type = "text";
                        inputTexto.style.position = "absolute";
                        inputTexto.style.left = viewBoxClickX + "px";
                        inputTexto.style.top = viewBoxClickY + "px";
                        
                        // Adicionar o input de texto ao body
                        document.body.appendChild(inputTexto);

                        inputTexto.addEventListener("keydown",function(event){
                            if(event.key == "Enter"){
                                auxCriaElemento([viewBoxClickX,viewBoxClickY],inputTexto.value)
                            }
                        })
                        
                                                
                        inputTexto.focus();

                    });
                    </script>
        
    </body>
</html>